<ion-header>
    <ion-navbar color="spotiwake">
        <ion-title>Search music</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list inset>
        <ion-item>
            <ion-label color="spotiwake">Music</ion-label>
            <ion-input [(ngModel)]="musicSearch" type="text"></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button block (click)="getMusic()" color="spotiwake">Search</button>
    </div>
    <ion-list radio-group [(ngModel)]="selectedMusic">
        <ion-item *ngFor="let item of foundMusics">
            <ion-avatar item-left>
                <img src="{{item.album.images[0].url}}">
            </ion-avatar>
            <ion-label>
                <h2>{{item.name}}</h2>
                <p>{{item.artists[0].name}}</p>
            </ion-label>
            <ion-radio value="{{item.id}}" (ionSelect)="selectMusic( item.preview_url )"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-fab *ngIf="selectedMusic" bottom center>
        <button ion-fab color="spotiwake" navPop (click)="validMusicChoice()">
            <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-fab>
</ion-content>